body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f7e6e6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

header {
    text-align: center;
    padding: 20px;
    background: white;
}

header h1 {
    color: #d4af37;
}

#search-container {
    scroll-margin-top: 80px; /* deixa um espaço caso o header seja sticky */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 1000; /* header abaixo do carrinho */
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.navbar a:hover {
    color: #d4af37;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #d4af37;
}


.search-filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.barra-busca {
    display: flex;
    width: 100%;
}

.barra-busca input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
}

.barra-busca button {
    padding: 10px 15px;
    border: none;
    background: #ff4d6d;
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}


.search-filtros {
    display: flex;
    max-width: 400px;
    margin: 20px auto;
}

.search-filtros input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
}

.search-filtros button {
    padding: 10px 15px;
    border: none;
    background: #ff4d6d;
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

/* Sticky padrão */
.sub-filtros {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    position: sticky;
    top: 70px; /* altura da navbar */

    padding: 10px 0;
    z-index: 999;
    overflow-x: auto; /* permite scroll horizontal no mobile */
    scrollbar-width: none; /* Firefox */
}

.sub-filtros::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

/* Botões responsivos */
.sub-filtros button {
    flex-shrink: 0; /* impede encolher */
    padding: 8px 16px;
    border-radius: 50px;
    border: none;
    background: #d4af37;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.sub-filtros button:hover {
    background: #b8962f;
}



.filtros button {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background: #d4af37;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.filtros button:hover {
    background: #b8962f;
}


.filtros {
    margin-bottom: 20px;
}

.filtros button {
    margin: 5px;
}

.banner {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(img/banner.png);
    min-height: 50vh;
    padding: 20px;

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
}

.banner h1{
    font-size: 42px;
    margin-bottom: 10px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}




button {
    padding: 12px 25px;
    border: none;
    background: #d4af37;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    opacity: 0.8;
}

#produtos {
    padding: 40px;
    text-align: center;
    padding-bottom: 120px;
   
}



.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: start;


    
}

.card.highlight {
    border: 2px solid #d4af37;
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.6);
    transition: all 0.2s;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  
}
.card:hover {
    transform: translateY(-5px);
}




.card img {
    width: 100%;
    height: 200px;      /* altura fixa */
    object-fit: cover;  /* corta sem distorcer */
    border-radius: 8px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.descricao {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.preco {
    font-weight: bold;
    color: #ff4d6d;
}

.card button {
    background: #d4af37;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.card button:hover {
    background: #b8962f;
}




footer {
    background: #333;
    color: white;
    padding: 30px;
    text-align: center;
    margin-top: auto;
}

.cart-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;       /* desktop */
    max-width: 100%;    /* mobile */
    height: 100vh;
    background: white;
    box-shadow: -3px 0 15px rgba(0,0,0,0.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease;
   z-index: 1000;   
}

#cart-items-wrapper {
    flex: 1;           /* ocupa todo o espaço restante */
    overflow-y: auto;  /* permite scroll quando tiver muitos itens */
    margin-bottom: 10px;
}

#cart-footer {
    flex-shrink: 0;   /* não encolhe */
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.hidden {
    display: none !important;
}


/* Quando abrir */
.cart-panel.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}
.cart-icon {
    display: flex; /* sempre visível ao carregar */
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #ff4d6d;
    color: white;
    font-size: 22px;
    padding: 12px 16px;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}



.cart-icon:hover {
    background: #ff4d6d; /* vermelho mais vivo */
}

.cart-item {
    display: flex;
    justify-content: space-between;  /* distribui nome/preço e botão */
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    gap: 10px;                       /* espaço extra entre texto e botão */
}


.cart-item span {
    flex: 1;
}

/* Botão WhatsApp */
.cart-panel button {
    position: sticky;
    bottom: 0;

    width: 100%;
    padding: 12px;
    margin-top: 15px;

    background: #25d366;
    color: white;
    border: none;
    border-radius: 8px;
}

.cart-item .remove-btn {
    background: none !important; /* sobrescreve qualquer fundo */
    border: none !important;
    color: #ef0303 !important;   /* dourado escuro */
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    transition: color 0.2s;
}

.cart-item .remove-btn:hover {
    color: #d4af37 !important;
}






/* Responsivo mobile */
@media (max-width: 768px) {
    .cart-item {
        flex-direction: row;   
        font-size: 14px;       
    }

    .cart-panel {
        width: 50%;           
        padding: 15px;
    }

    .cart-panel button.finalizar {
        position: sticky;
        bottom: 15px;
        width: calc(100% - 30px);
        margin-top: auto;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}

#cart-total {
    font-size: 16px;
    color: #333;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr; /* um card por linha */
       
    }
}





@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .banner h1 {
        font-size: 28px;
    }

    #busca {
        width: 90%;
    }

     .card img {
        height: 300px;
        width: 100%;
        object-fit: cover;  /* corta sem distorcer */
        border-radius: 8px;
    }

   

}

@media (max-width: 480px) {
    .sub-filtros {
        justify-content: flex-start;   /* alinha à esquerda */
        overflow-x: auto;              /* scroll horizontal */
        gap: 8px;                      /* espaço menor entre botões */
        padding: 8px 5px;              /* padding reduzido */
        -webkit-overflow-scrolling: touch; /* scroll suave no iOS */
        
    }

    .sub-filtros button {
        flex-shrink: 0;                /* não encolhe */
        padding: 6px 12px;             /* menor para caber na tela */
        font-size: 14px;                /* fonte menor */
    }

}




